#memorija{
	height:600px;
	width: 60%;
	margin: 0 auto;
}
#memorija h2{
	padding:20px;
	text-align: center;
	font-size:200%;
	text-shadow: 4px 4px 7px #000000;
}

.mem{
	margin-left: 40px;
}
.mem li div{
	border: 5px solid gray;
}
.mem li {
	width:18%;
	list-style: none;
	float: left;
	margin-bottom: 140px;
	margin-left:30px;
	padding-bottom:30px;
	position: relative;
	cursor: pointer;
}

.mem li img{
	width:100%;
	height: 100%;
}
li div{
	width: 100%;
	height: 147px;
	position: absolute;
	transition: all .5s;
	backface-visibility: hidden;
}
.front{
	z-index:5;
	background-color: #CBCBD0;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	padding:8px;
	box-sizing: border-box;
}
.back {
	transform: rotateY(180deg);
	box-sizing: border-box;
}

.flip{
	z-index: 0;
	transform: rotateY(180deg);
}
.flipback{
	transform: rotateY(0deg);
}
.tranz{
	tranzition: all 1s ease 1s;
}
